body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  .navbar {
    background-color:white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    color: #191619;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    margin-right: 5px;
  }
  
  .logo-text {
    color: #00bcd4;
    font-size: 18px;
    font-weight: bold;
  }
  
  .login {
    margin-left: auto;
  }
  
  .login-button {
    background-color: transparent;
    border: 1px solid #0cbbc7;
    color: #0cbbc7;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .login-button:hover {
    background-color: #0cbbc7;
    color: #fff;
  }
  
  